// ------------------------------------------------------------------
// Lato
// ------------------------------------------------------------------


@mixin mk-iransans-font-face() {
        @font-face {
      font-family: IRANSansMobile-en;
      font-style: normal;
      font-weight: bold;
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-bold.eot');
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-bold.eot?#iefix')
          format('embedded-opentype'),
        /* IE6-8 */
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-bold.woff2')
          format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-bold.woff')
          format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-bold.ttf')
          format('truetype');
      font-display: fallback;
    }

    @font-face {
      font-family: IRANSansMobile-en;
      font-style: normal;
      font-weight: 300;
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-light.eot');
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-light.eot?#iefix')
          format('embedded-opentype'),
        /* IE6-8 */
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-light.woff2')
          format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-light.woff')
          format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-en/en-Iran-sans-web-light.ttf')
          format('truetype');
      font-display: fallback;
    }

    @font-face {
      font-family: IRANSansMobile-fa;
      font-style: normal;
      font-weight: bold;
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-bold.eot');
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-bold.eot?#iefix')
          format('embedded-opentype'),
        /* IE6-8 */
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-bold.woff2')
          format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-bold.woff')
          format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-bold.ttf')
          format('truetype');
      font-display: fallback;
    }

    @font-face {
      font-family: IRANSansMobile-fa;
      font-style: normal;
      font-weight: 300;
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-light.eot');
      src: url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-light.eot?#iefix')
          format('embedded-opentype'),
        /* IE6-8 */
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-light.woff2')
          format('woff2'),
        /* FF39+,Chrome36+, Opera24+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-light.woff')
          format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
          url('https://passenger-pwa-cdn.snapp.ir/fonts/Iran-sans-fa/fa-Iran-sans-web-light.ttf')
          format('truetype');
      font-display: fallback;
    }
}



@include mk-iransans-font-face();


// ------------------------------------------------------------------
// Google fonts
// ------------------------------------------------------------------
$google-font-path: '../fonts/google';

@mixin google-font($family, $type, $weight, $style) {
    @font-face {
        font-family: $family;
        src: url('#{$google-font-path}/#{$family}/#{$family}-#{$type}.ttf') format('truetype');
        font-weight: $weight;
        font-style: $style;
    }
}

@mixin google-font-pair($family) {
    @include google-font('#{$family}', 'Regular', 400, normal);
}

@include google-font-pair('Montserrat');
    @include google-font-pair('Open_Sans');
@include google-font-pair('Oswald');
@include google-font-pair('Raleway');
@include google-font-pair('Roboto');
